.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 91vh;
  gap: 15px;
  background-color: #57bdf6;
}
/* list-card ============================================== */
.list-card {
  background-color: white;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.search input {
  padding: 10px;
  width: 500px;
  border-radius: 10px;
}
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-magnifying-glass {
  font-size: 25px;
  margin-right: 5px;
}
.card-container {
  height: 750px;
  margin-top: 10px;
  overflow: hidden;
}
.card-container:hover {
  overflow-y: auto;
}
.wrap-list-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.stock {
  display: flex;
  width: 425px;
  justify-content: end;
  font-size: 20px;
  font-weight: bold;
  height: 2px;
  margin-top: 5px;
}
.background-in-stock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #57bdf6;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.background-out-of-stock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 220px;
  border: 5px solid #57bdf6;
  border-radius: 20px;
  margin: 10px;
  background-color: #ffefd5;
  cursor: pointer;
  transition: 0.5s ease;
  opacity: 1;
}
.card:hover {
  opacity: 0.5;
}
.card img {
  width: 250px;
  height: 150px;
  border-radius: 20px;
}
.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  text-align: center;
  font-family: "Kanit", sans-serif;
}
.card-text p {
  display: flex;
  font-size: 25px;
  font-weight: bold;
}
.card-text h2 {
  font-size: 32px;
}
.star {
  display: flex;
  font-size: 20px;
}
/* list-pay ============================================== */
.list-pay {
  background-color: #57bdf6;
  display: grid;
  grid-template-rows: 4fr 1fr;
  gap: 15px;
}
.cart {
  background-color: white;
}
.payment {
  background-color: white;
}
/* wrap-cart ============================================== */
.cart {
  height: 650px;
  overflow-y: auto;
}
.wrap-cart {
  display: flex;
  justify-content: space-between;
  border: 2px solid #57bdf6;
  margin: 10px;
  width: 340px;
  height: 100px;
  border-radius: 10px;
  background-color: #ffefd5;
}
.cart-name {
  display: flex;
  align-items: center;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  gap: 5px;
}
.cart-name img {
  height: 100px;
  width: 120px;
  border-radius: 10px;
}
.add-item {
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 10px;
  font-family: "Kanit", sans-serif;
}
.price {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}
.fa-plus {
  cursor: pointer;
}
.fa-minus {
  cursor: pointer;
}
/* text-pay ============================================== */
.payment-text {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  font-family: "Kanit", sans-serif;
  font-size: 28px;
}
/* phone ==================== */
@media (max-width: 640px) {
  .search input {
    padding: 30px;
    width: 200vw;
    border-radius: 30px;
    font-size: 30px;
  }
  .fa-magnifying-glass {
    font-size: 55px;
  }
  .card-container {
    height: 355vh;
    width: 400vw;
    margin-top: 10px;
    overflow: hidden;
  }
  .wrap-list-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
  }
  .card {
    width: 700px;
    height: 400px;
    margin: 10px;
  }
  .card-text {
    width: 600px;
    margin-top: 20px;
  }
  .card-text p {
    font-size: 40px;
    font-weight: bold;
  }
  .card-text h2 {
    font-size: 50px;
  }
  .card img {
    width: 650px;
    height: 250px;
    border-radius: 20px;
  }
  .star {
    display: flex;
    font-size: 30px;
  }
  .list-pay {
    display: none;
  }
}
@media (max-width: 768px) {
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 234vw;
    margin-top: 10px;
  }
  .search input {
    padding: 20px;
    width: 50vw;
    border-radius: 30px;
    font-size: 20px;
  }
  .fa-magnifying-glass {
    font-size: 40px;
  }
  .card-container {
    height: 180vh;
    width: 234vw;
    margin-top: 10px;
  }
  .wrap-list-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .card {
    width: 700px;
    height: 400px;
    margin: 10px;
  }
  .card-text {
    width: 600px;
    margin-top: 20px;
  }
  .card-text p {
    font-size: 30px;
    font-weight: bold;
  }
  .card-text h2 {
    font-size: 40px;
  }
  .card img {
    width: 650px;
    height: 250px;
    border-radius: 20px;
  }
  .star {
    display: flex;
    font-size: 30px;
  }
  .list-pay {
    display: none;
  }
}
