/* all ======================== */
.btn-all {
  margin-left: 20px;
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 70px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.is-btn-all {
  margin-left: 20px;
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 70px;
  border-radius: 20px;
  background-color: #57bdf6;
  cursor: pointer;
  transition: 0.5s;
}
/* food ======================== */
.btn-food {
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 70px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.is-btn-food {
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 70px;
  border-radius: 20px;
  background-color: #57bdf6;
  cursor: pointer;
  transition: 0.5s;
}
/* dessert ======================== */
.btn-dessert {
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 90px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.is-btn-dessert {
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 90px;
  border-radius: 20px;
  background-color: #57bdf6;
  cursor: pointer;
  transition: 0.5s;
}
/* drink ======================== */
.btn-drink {
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 70px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.is-btn-drink {
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 70px;
  border-radius: 20px;
  background-color: #57bdf6;
  cursor: pointer;
  transition: 0.5s;
}
/* in stock ======================== */
.btn-in-stock {
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.is-btn-in-stock {
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 100px;
  border-radius: 20px;
  background-color: #57bdf6;
  cursor: pointer;
  transition: 0.5s;
}
/* out of stock ======================== */
.btn-out-of-stock {
  margin-right: 40px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.is-btn-out-of-stock {
  margin-right: 40px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  width: 150px;
  border-radius: 20px;
  background-color: #57bdf6;
  cursor: pointer;
  transition: 0.5s;
}
/* phone ==================== */
@media (max-width: 640px) {
  .btn-all {
    display: none;
  }
  .is-btn-all {
    display: none;
  }
  .btn-food {
    display: none;
  }
  .is-btn-food {
    display: none;
  }
  .btn-dessert {
    display: none;
  }
  .is-btn-dessert {
    display: none;
  }
  .btn-drink {
    display: none;
  }
  .is-btn-drink {
    display: none;
  }
  .btn-in-stock {
    display: none;
  }
  .is-btn-in-stock {
    display: none;
  }
  .btn-out-of-stock {
    display: none;
  }
  .is-btn-out-of-stock {
    display: none;
  }
}
@media (max-width: 768px) {
  .btn-all {
    font-size: 20px;
    width: 100px;
    height: 50px;
  }
  .is-btn-all {
    font-size: 20px;
    width: 100px;
    height: 50px;
  }
  .btn-food {
    font-size: 20px;
    width: 125px;
    height: 50px;
  }
  .is-btn-food {
    font-size: 20px;
    width: 125px;
    height: 50px;
  }
  .btn-dessert {
    font-size: 20px;
    width: 150px;
    height: 50px;
  }
  .is-btn-dessert {
    font-size: 20px;
    width: 150px;
    height: 50px;
  }
  .btn-drink {
    font-size: 20px;
    width: 125px;
    height: 50px;
  }
  .is-btn-drink {
    font-size: 20px;
    width: 125px;
    height: 50px;
  }
  .btn-in-stock {
    font-size: 20px;
    width: 160px;
    height: 50px;
  }
  .is-btn-in-stock {
    font-size: 20px;
    width: 160px;
    height: 50px;
  }
  .btn-out-of-stock {
    font-size: 20px;
    width: 250px;
    height: 50px;
  }
  .is-btn-out-of-stock {
    font-size: 20px;
    width: 250px;
    height: 50px;
  }
}
