.footer p {
  position: absolute;
  bottom: 0;
  width: 100vw;
  font-size: 25px;
  background-color: #57bdf6;
  text-align: center;
}
/* phone ==================== */
@media (max-width: 640px) {
  .footer p {
    width: 400vw;
    bottom: -300vh;
    font-size: 60px;
  }
}
/* tablet ============================ */
@media (max-width: 768px) {
  .footer p {
    width: 234vw;
    bottom: -135vh;
    font-size: 40px;
  }
}
